.jumbotron {
    padding-left: 42px !important;
    padding-right: 18px !important;
    padding-top: 18px !important;
    padding-bottom: 18px !important;
}

.navbar-default,
.dropdown-menu{
    background-color: #30264c !important;
}

.navbar-default,
.dropdown-menu{
    background-color: #30264c !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #5b4d85 !important;
}


p a.reference,
.panel-body a.reference{
    color: #4c72b0 !important;
}

footer a {
    color: #4c72b0 !important;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink {
    opacity: .25 !important;
    color: #4c72b0 !important;
}

blockquote p {
    font-size: 12px !important;
}


blockquote {
    padding-top: 4px !important;
    padding-bottom: 8px !important;
    margin: 0 0 0px !important;
}


code {
    color: #303a4c !important;
    background-color: #ffffff !important;
}
